# Ignore __pycache__ in the deps folder
deps/__pycache__/

# Ignore the entire venv folder
venv/

# Ignore __pycache__
__pycache__

# Ignore application folders
dist
build

# Ignore installer folder
installer